body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #333;
	background-color: #f0f0f0;
}

/* HEADER */
header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	background-color: #3f51b5;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
}

/* MAIN */
main {
	margin-top: 80px;
	margin-bottom: 60px;
	overflow-y: auto;
	padding: 20px;
}

.container {
	display: flex;
	flex-direction: column;
}

.message {
	margin-bottom: 20px;
	max-width: 70%;
	word-wrap: break-word;
	padding: 10px;
	border-radius: 10px;
	font-size: 16px;
	line-height: 1.4;
	position: relative;
}

.sent {
	align-self: flex-end;
	background-color: #2979ff;
	color: #fff;
}

.received {
	align-self: flex-start;
	background-color: #fff;
	color: #333;
}

.message::before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	top: 0;
}

.sent::before {
	border-style: solid;
	border-width: 0 10px 10px 0;
	border-color: transparent #2979ff transparent transparent;
	right: -10px;
}

.received::before {
	border-style: solid;
	border-width: 10px 10px 0 0;
	border-color: #fff transparent transparent transparent;
	left: -10px;
}

.message-input {
	padding: 10px;
	border: none;
	border-radius: 30px;
	background-color: #f0f0f0;
	flex-grow: 1;
	margin-right: 10px;
	font-size: 16px;
}

.send-button {
	background-color: #3f51b5;
	color: #fff;
	border: none;
	border-radius: 30px;
	padding: 10px 20px;
	cursor: pointer;
	transition: background-color 0.2s ease-in-out;
}

.send-button:hover {
	background-color: #303f9f;
}

.message-input:focus {
	outline: none;
	box-shadow: 0 0 0 2px #3f51b5;
}

/* FOOTER */
footer {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	height: 60px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);
}

.message-input-box {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 20px;
	height: 60px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.1);
}

.subtext {
	position: fixed;
	bottom: 10px; /* set the distance from the bottom of the page */
	left: 0;
	right: 0;
	text-align: center;
}